<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Welcome</title>
        <link rel="stylesheet" href="./style.css" />
        <script src="./index.js"></script>
        <script src="./cookiesAndLocalStorageHook.js"></script>

    </head>
    <body>
        <div class="main">
            <div class="header"></div>
            <div class="main_container">        
                
                <div class="left"></div>
                <div class="right">
                    <% if(loggedin) { %>
                    <div class="min_profile_wrap">
                        <div class="name"><%= name %></div>
                        <button onclick="logout()">Logout</button>
                    </div>
                    <% } else { %>

                    <form action="/login" method="POST">
                        <div class= "loginbox">
                        <img src="avatar1.png" class="avatar">
                        <h1>Login Here</h1>
                        <p>Username</p>
                        <input
                            placeholder="Username or Email"
                            type="text"
                            class="username"
                            name="username"
                        />
                        <p>Password</p>
                        <input
                            placeholder="Password"
                            type="password"
                            class="password"
                            name="password"
                        />
                        <input type="submit" value="Login" />
                        <a href="/signup">Create a new Account</a><br>
                        <a href="#">Don't have an account?</a>
                        </div>
                            </form>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
