<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Signup</title>
        <link rel="stylesheet" href="./style.css" />
        <script src="./index.js"></script>
        <script src="./cookiesAndLocalStorageHook.js"></script>
    </head>
    <body>
        <div class="main">
            <div class="header"></div>
            <div class="main_container">
                <div class="left"></div>
                <div class="right">
                    <% if(loggedin) { %>
                    <div class="min_profile_wrap">
                        <div class="name"><%= name %></div>
                        <button onclick="logout()">Logout</button>
                    </div>
                    <% } else { %>
                    <form action="/signup" method="POST">
                        <input
                            placeholder="First Name"
                            type="text"
                            class="inp fname"
                            name="fname"
                        />
                        <input
                            placeholder="Last Name"
                            type="text"
                            class="inp lname"
                            name="lname"
                        />
                        <input
                            placeholder="E-mail Address"
                            type="text"
                            class="inp email"
                            name="email"
                        />
                        <input
                            placeholder="Password"
                            type="password"
                            class="inp password"
                            name="password"
                        />
                        <input
                            placeholder="Confirm Password"
                            type="password"
                            class="inp conf_password"
                            name="conf_password"
                        />
                        <input type="submit" value="Signup" />
                        <a href="/login">Aready have an Account? Login</a>
                    </form>
                    <% } %>
                </div>
            </div>
        </div>
    </body>
</html>
